html, body {
    padding: 0;
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: small;
}

header {
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

header h1, p{
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}


main, header{
    width: 300px;
    height: 83.5px;
    margin: 0 auto;
}

.product {
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0 20px 0;
    width: 100%;
    margin: 15px 0;
}

.product p,h2, h3, i {
    margin: 0;
    padding: 0;
}

.product h2 {
    font-size: medium;
    font-weight: 400;
}

.product h3{
    margin-top: 10px;
    font-size: medium;
    font-weight: 400;
}

.emoji {
    position:absolute;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    left: -11px;
}

.properties{
    padding-left: 0;
    margin-left: 65px;
}

.ingredients {
    font-size: smaller;
    color: #8B8B8B;
    
}

.icon {
    position: absolute;
    font-size: xx-large;
    right: 0px;
}

