html, body {
    padding: 0;
    margin: 0;
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-size: small;
}

header {
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}

header h1, p{
    margin: 0 0 0 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

main, header{
    width: 300px;
    height: 83.5px;
    margin: 0 auto;
}

.products {
    margin:0 15px ;
}

.product {
    position: relative;
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 10px 0 20px 0;
    width: 100%;
    margin: 15px 0;
}

.product p,h2, h3, i {
    margin: 0;
    padding: 0;
}

.product h2, h3 {
    font-size: medium;
    font-weight: 400;
}

.product h3{
    margin-top: 10px;
}

.emoji {
    position:absolute;
    font-family: "Inter", sans-serif;
    font-size: 50px;
    left: -11px;
}

.properties{
    padding-left: 0;
    margin-left: 65px;
}

.ingredients {
    font-size: smaller;
    color: #8B8B8B;
    
}

.icon {
    position: absolute;
    font-size: xx-large;
    right: 0px;
}

.order-details {
    display: flex;
    flex-direction: column;
    margin:30px 15px 0 15px ;
    text-align: center;
}

.order-details h2, h3 {
    font-size: medium;
    font-weight: 400;
}

.order {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.order-product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.order-product h3, h4{
    margin: 0;
}

.remove-btn {
    border: none;
    background-color: white;
    font-size: small;
    font-weight: 400;
    font-family: "Smythe", system-ui;
    color: #BBBBBB;
    z-index: 2;
}

#total-price-div{
    border-top: 1px solid black;
}

#complete-btn {
    margin-top: 30px;
    color: white;
    background-color: #16DB99;
    border: none;
    padding: 10px;
}
